@media (max-width: 900px) {
  main {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  
  .header-nav {
    grid-row: 1/2;
    grid-column: 1;
    align-content: space-between;
    justify-items: center;
    border: none;
    border-right: none;
    border-bottom: 2px solid $light;
    box-shadow: 0 2px 3px -2px $light;
    display: flex;
    position: relative;
    overflow: auto;
    width: 100%;
    header {
      display: none;
    }
    
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      
      .nav-list--main {
        padding: 0 1rem;
        justify-content: space-between;
        button {
          display: flex;
          align-items: center;
          
          &:active {
            color: $highlight;
            background-color: $light;
          }
        }
        
        span.card-name {
          display: none;
        }
      }
      .nav-list--projects {
        &.hidden {
          display: none;
        } 
      }
      
    }

    div {
      display: flex;
    }
  }
}


@mixin card {
  display: flex;
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  
  background-color: white;
  box-shadow: 2px 3px 5px $medium;
  border-radius: 9px;

  #card--title{
    font-size: 1.1rem;
    color: black;
    padding: 0.5rem 0;
  }
  
  #card--tags {
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
    overflow: scroll;
    align-items: center;
    justify-content: space-between;

    p {
      & + p {
        margin-left: 10px;
      }
      border-radius: 8px;
      padding: 0.2rem;
      flex-grow: 1;
      text-align: center;
      border: 2px solid $light;
      color: black;
      
      &.card--priority {
        border: none;
        color: white;
        border: 2px sold white;
        &.high {
          background-color: $highlight;
        }

        &.medium {
          background-color: $dark;
        }

        &.low {
          background-color: $green;
        }
      }
    }
  }

  .card--owner {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    img {
      width: 48px;
      height: 48px;
      object-fit: cover;
      border-radius: 100%;
    }
    .card--complete {
      width: 48px;
      height: 48px;
      border-radius: 100%;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 200ms ease-in-out;
      &:hover {
        cursor: pointer;
        transform: scale(0.97);
      }

      &:active {
        scale: 0.92;
        svg {
          transition: 200ms ease-in-out;
          transform: rotate(20deg);
          path {
            color: $highlight;
          }
        }
      }
    }
  }
}
