@import 'variables';
@import 'mixins';
@import 'main';
@import 'button';
@import 'header';
@import 'footer';

@font-face {
  font-family: "Lobster";
  src: url('../Lobster-Regular.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: none;
  font-size: 18px;
  user-select: none;
}

#content {
  display: grid;
  grid-template-rows: 80px 1fr 30px;
  background-color: $light;
  color: $dark;
  height: 100vh;
}
